@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
body {
    margin: 0;
    background-color: #e5e6ed;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: #282455;
    font-size: 25px;
    margin: 0;

}

p {
    color: rgb(123, 120, 120);
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.35;
}

button {
    background-color: #5600E6;
    color: white;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 14px 0;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

button:hover {
    background-color: #8400F6;
}

.bg-img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.wrapper {
    display: flex;
    align-items: center;

    justify-content: center;
    height: 100vh;

}

.container {
    width: 350px;
    height: 550px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.text-container {

    width: 100%;
    max-width: 290px;
    height: 370px;
    padding: 30px;

}

.plan {
    background-color: #F8F8FE;
    text-align: left;
    padding: 15px 20px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
}

.plan-details {
    padding-left: 15px;
}

#plan-heading {
    font-weight: bold;
    color: #282455;
    line-height: 1.5;
}

#plan-price {
    color: rgb(123, 120, 120);
}

#front-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#music-ic {
    width: 35px;
}

#a-change {
    font-weight: 400;
    color: #5600E6;
}

#a-change:hover {

    text-decoration: none;

}

#a-cancel {
    text-decoration: none;
    color: rgb(123, 120, 120);
    font-weight: bold;
    font-size: 14px;
}

#a-cancel:hover {
    color: #282455;
}

@media(max-width:500px) {
    body {
        background-image: url("images/pattern-background-mobile.svg") !important;
        background-size: 500px 300px;
    }

    .container {
        transform: scale(0.78);
    }
}